@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --bg-color : #E9E9E9;
    --text-color: #424242;
    --pop-color: #FF3F3C;
    --secondary-surface: #D6D7D6;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family:"Inter";
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
}

main{
    width: 1000px;
    margin: 0 auto;
}

h1{
    margin: 0;
    font-weight: normal;
}

h2{
    font-size: 10em;
    text-align: center;
}

h3{
    text-align: center;
}

img{
    
}